
body {
    font-family: "Courier New", Courier, monospace;
    padding: 0 5%;

} 

#title{
    display: flex;
    justify-content:center;
    letter-spacing: 4px;
    font-style:italic;
    font-size:50pt;
    text-transform: uppercase;
    margin: auto;
    background:black;
    color:white;
    margin: 0 -5%;
    padding: 10px 5%;
}

#p9_title{
    font-size:40pt;
    letter-spacing: 4px;
    display: flex;
    justify-content:center;
    text-transform: uppercase;
    padding: 5% 0;
   
}

.container{
    display: flex;
    gap: 20px;
    padding: 0 0 5% 0;
}

.column{
    flex:1;
}



#intro {
    border: 3px solid black
    
}

#sig{
    
}




#img img{
    height: auto;
    width: 100%;

    
}


#pg{
    margin: 0 auto;
    width: auto;
    display:flex;
    justify-content:center;
    border: 3px solid black;
    padding: 1%;
}







/* background-color: - ;
 * border: 5px solid fuchsia;
 * 
 * img {
border: 5px solid fuchsia;
width:50%;
height:50%;
 * font-family:helvetica;
    font-style: oblique; /* italic (other keyword to try) 
 *   text-transform: uppercase;
 *   letter-spacing: 20px;
    
}
 * 
 * div {
 * width: 600px - text shrinking 
 * margin: - flexbox 
 * }
 * 
*   */